.body {
    background-color: #f5f5f5;
}

.start-back {
    background-color: beige;
}

.fa-heart {
    font-size: 30px;
    color: gold;
    padding-right: 10px;
}

.fa-cart-arrow-down {
    font-size: 30px;
    color: gold;
    padding-right: 10px;
}

.slide-hight {
    max-height: 650px;
}

.carousel-item {
    opacity: 1.0;
}

.carousel-caption {
    opacity: 1.5;
}

.card-img {
    opacity: 0.5;
}

.fa-check {
    padding: 15px;
    padding-top: 0;
    font-size: 40px;
    color: gold;
}

.fa-truck-fast {
    padding: 15px;
    padding-top: 0;
    font-size: 40px;
    color: gold;
}

.fa-arrow-right-arrow-left {
    padding: 15px;
    padding-top: 0;
    font-size: 40px;
    color: gold;
}

.fa-phone-volume {
    padding: 15px;
    padding-top: 0;
    font-size: 40px;
    color: gold;
}

.back-clr {
    background-color: rgb(248, 245, 241);
}