.start-back {
    background-color: beige;
}

.fa-heart {
    font-size: 30px;
    color: brown;
    padding-right: 10px;
}

.fa-cart-arrow-down {
    font-size: 30px;
    color: lightgrey;
    padding-right: 10px;
}

.slide-hight {
    max-height: 550px;
}

.carousel-item {
    opacity: 1.0;
}

.carousel-caption {
    opacity: 1.5;
}

.card-img {
    opacity: 0.5;
}