.start-back {
    background-color: beige;
}

.fa-heart {
    font-size: 30px;
    color: brown;
    padding-right: 10px;
}

.fa-cart-arrow-down {
    font-size: 30px;
    color: lightgrey;
    padding-right: 10px;
}